{% assign author = site.data.author %}

{% include {{ site.module-animation }} name="sieve-crib" %}

organization: CircuitalMinds

owner: {{ author.name }}

<iframe width="100%" 
        frameborder="0"
        scrolling="no"
        marginheight="0" 
        marginwidth="0"
        allowTransparency="true"
        src="{{ author.location.map }}">
</iframe>

<iframe width="100%" 
        frameborder="0" 
        scrolling="no"
        marginheight="0" 
        marginwidth="0"
        allowTransparency="true"
        src="{{ author.location.sky }}">
</iframe>