{% assign header = include.header %}

<div class="w3-bar w3-top w3-black w3-large"
     style="z-index:4"
>
<button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey"
        onclick="SideBar( 'open' );"><i class="fa fa-bars"></i>  Menu
</button>
</div>
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left"
     style="z-index:4; left: 0px;"
     id="mySidebar">
<br>
<div class="w3-container w3-row">
<div class="w3-col s4">
<img src="{{ site.logo }}"
     class="w3-circle w3-margin-right"
     style="width:46px">
</div>
<div class="w3-col s8 w3-bar">
<span>Welcome to <strong>{{ page.title }}</strong></span>
<br>
</div>
</div>
<div class="w3-container">

{% for btn in header.buttons-top %}
<a href="{{ btn.url }}"
   class="w3-bar-item w3-button"><i class="fa fa-{{ btn.icon }}"></i>
</a>
{% endfor %}

</div>
<hr>

<div class="w3-container"><h5>Dashboard</h5></div>

<div class="w3-bar-block">
<a href="#"
   class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black"
   onclick="SideBar( 'close' );"
   title="close menu"
><i class="fa fa-remove fa-fw"></i>  Close Menu
</a>
{% for btn in header.buttons-down %}
<a href="{{ btn.url }}"
   class="w3-bar-item w3-button w3-padding"
><i class="fa fa-{{ btn.icon }} fa-fw"></i>  {{ btn.text }}
</a>
{% endfor %}
<br><br>
</div>
</nav>

<header class="w3-container"
        style="padding-left: 25%; padding-top:22px;">
<div class="w3-col s4">
<img src="{{ site.logo }}"
     class="w3-circle w3-margin-right w3-margin-bottom"
     style="width:46px"
>
</div>
<div class="header row border-bottom">
<div class="w3-col s8 w3-bar">
<span>Welcome to <strong>{{ page.title }}</strong></span>
</div>
</div>
</header>