{% assign app = include.app %}

{% include {{ app.template.header.html }} header=app.template.header %}

<div class="w3-overlay w3-hide-large w3-animate-opacity"
     onclick="SideBar( 'close' );"
     style="cursor:pointer;"
     title="close side menu"
     id="myOverlay"
></div>

<div class="w3-main"
     style="margin-left:300px;margin-top:43px;">

  {% include {{ app.template.video.html }} video=app.template.video %}

  {% include {{ app.template.panel.html }} panel=app.template.panel %}

  <footer class="w3-container w3-padding-16 w3-light-grey">
  <h4>FOOTER</h4>
  <p>Powered by <a href="{{ site.url }}" target="_blank">w3.css</a></p>
  </footer>

  <script>{% include app/scripts/drive.js %}</script>
  <script>{% include app/scripts/index.js %}</script>

</div>

    <button class="open-button"
            onclick='getElement( "id", "chat_form" ).show();'>
        Chat
    </button>
    <div class="chat-popup"
         id="chat_form">
    <div class="form-container">
    <iframe src="/app/chat/"
            class="image fit"
            width="100%"
            height="300px"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen="true"
            frameborder="0"
    ></iframe>
    <button type="button"
            class="btn cancel"
            onclick='getElement( "id", "chat_form" ).hide();'>Close
    </button>
    </div>
    </div>