---
layout: page
title: Portfolio
image: julia.gif
permalink: /contact/portfolio/
---
{% assign portfolio = site.data.portfolio %}
{% assign thesis = portfolio.thesis %}

<div class="row">
<embed class="image fit" src="{{ site.static_url }}/docs/cv.pdf" width="100%" height="550px" type="application/pdf">
</div>

<div class="item">
  <header>
    <h2 style="text-align: left;">Chemical Engineering</h2>
  </header>
  <div class="image fit">
    <table class="table">
    <tbody>
    {% for x in thesis[0] %}
        <tr><td>{{ x[0] }}</td><td>{{ x[1] }}</td></tr>
    {% endfor %}
    </tbody>
    </table>
  </div>
</div>
<div class="item">
  <header>
    <h2 style="text-align: left;">Degree in Mathematical Sciences</h2>
  </header>
  <div class="image fit">
    <table class="table">
    <tbody>
    {% for x in thesis[1] %}
        <tr><td>{{ x[0] }}</td><td>{{ x[1] }}</td></tr>
    {% endfor %}
    </tbody>
    </table>
  </div>
</div>

