{% if include.name == "Special" %}
<style>
{% for c in site.data.colors.Special %}
.bg-special-{{ c[0] }} {
    background-color: {{ c[1] }};
}
.fg-special-{{ c[0] }} {
    color: {{ c[1] }};
}
.bd-special-{{ c[0] }} {
    border: 2px solid {{ c[1] }};
    border-radius: 5px;
}
{% endfor %}
</style>

{% elsif include.name == "byName" %}
<style>
{% for c in site.data.colors.byName %}
.bg-{{ c[0] }} {
    background-color: {{ c[1] }};
}
.fg-{{ c[0] }} {
    color: {{ c[1] }};
}
.bd-{{ c[0] }} {
    border: 2px solid {{ c[1] }};
    border-radius: 5px;
}
{% endfor %}
</style>

{% elsif include.name == "Palette" %}
<style>
{% for c in site.data.colors.Palette %}
.bg-c{{ forloop.index }} {
    background-color: {{ c }};
}
.fg-c{{ forloop.index }} {
    color: {{ c }};
}
.bd-c{{ forloop.index }} {
    border: 2px solid {{ c }};
    border-radius: 5px;
}
{% endfor %}
</style>
{% endif %}