<div id="login-data" class="modal">
	<div class="modal-content">			
		<div class="modal-header">
			<span class="close">&times;</span><h3>Login</h3>
		</div>
		<div class="modal-body">
			<div class="container">
			<div class="row w-100">
				<input class="w-25 bd-line" name="username" type="text" placeholder="  Username..">
				<input class="w-25 bd-line" name="password" type="text" placeholder="  Password..">
				<button class="w-25 button-0">Sign In</button>
			</div>
			</div>
		</div>
		<div class="modal-footer">
			&copy; CircuitalMinds. {{ page.title }}<span class="close">&times;</span>
		</div>
	</div>
</div>
<script>
$( function () {
	M = El.Query( "Id", "login-data" );
	El.Query( "Id", "login-button" ).onclick = function() {
    	El.Show( M );
	};
	El.iterAll( M, "span.close", function( e ) { e.onclick = function(){El.Hide( M )} } );
	window.onclick = function( event ) {
		if ( event.target == M ) {
			El.Hide( M );
		};
	};
});
</script>