{% if include.name == "buttons" %}
<ul class="p-2 actions drop-right">
{% for btn in site.data.snippet.player.buttons %}
<li id="{{ btn.id }}" onclick="{{ btn.onclick }}" class="bg-teal">
    <a><span class="{{ btn.icon }}"></span></a>
</li>
{% endfor %}
</ul>
{% elsif include.name == "video" %}
<video class="cell-md-8 bg-light fg-cyan"
       id="{{ site.data.snippet.player.video.id }}"
       data-video-selected="0"
       data-aspect-ratio="hd"
       data-role="video-player"
       data-volume="1"
       data-loop-icon='<span class="mif-loop2 fg-cyan"></span>'
       data-play-icon='<span class="mif-play fg-cyan"></span>'
       data-stop-icon='<span class="mif-stop fg-cyan"></span>'
       data-volume-low-icon='<span class="mif-volume-low fg-cyan"></span>'
       data-volume-high-icon='<span class="mif-volume-low fg-cyan"></span>'
       data-volume-medium-icon='<span class="mif-volume-medium fg-cyan"></span>'
       data-volume-mute-icon='<span class="mif-volume-mute2 fg-cyan"></span>'
></video>
{% endif %}