<div class="search-modal">
	<div class="search-modal-content">
	<div class="search-modal-header"><span class="search-close">&times;</span></div>
	<div class="search-modal-body"></div>
	<div class="search-modal-footer"><span class="search-close">&times;</span></div>
	</div>
</div>
<script>
function searchModal ( x ) {
    var M = El.Query( "Cls", "search-modal" );
    M.id = x.id;
    M.querySelector( ".search-modal-header" ).append( El.createObj( "h2", x.header ) );
    M.querySelector( ".search-modal-body" ).innerHTML = x.body;
    M.querySelector( ".search-modal-footer" ).append( El.createObj( "p", x.footer ) );
	El.Query( "Id", x.button ).onclick = function() {
		M.style.display = "block";
		var h = El.bodySize( 0.4 ).h;
		El.iterNodes( M, ".search-modal-body", function( e ) { e.style.height = h } );
	};
	El.iterAll(
	    M, "span.search-close", function( e ) {
            e.onclick = function() { M.style.display = "none" };
        }
	);
	window.onclick = function( event ) {
		if ( event.target == M ) {
			M.style.display = "none";
		};
	};
};
</script>