{% include module/math.html %}
<div id="wrapper">
    <div class="content-area">
        <div class="container-fluid">
            <div class="main">
            <div id="iso-graff" style="display: block;">
                <div class="base" style="width: 100%; height: 400px;"></div>
                <div class="slidecontainer" style="display: none;">
                <input value="10" type="range" class="slider"
                       min="1" max="500" step="10"
                /></div>
                 <p>\(\Phi (n)=\)<span>29</span></p>

                <div id="test-latex"></div>
                <script>
                let LaTex = new Object();
                LaTex.with_style = true;
                LaTex.Write = function ( data ) {
                    if ( this.with_style ) {
                        return "$$\\displaystyle{ " + data.replaceAll("**", "\\") + " }$$"
                    } else {
                        return data;
                    };
                };
                function test_latex () {
                    $("#test-latex")[0].innerHTML = LaTex.Write(
                        "**pi **approx **prod_{i=1}^{**Phi (n)} f_{i}"
                    );
                };
                </script>
            </div>
            </div>
        </div>
    </div>
</div>
<script>{% include app/spectrum/script.js %}</script>