.logo-style {
    background-color: #2C2F36;
    text-align: center;
    border: 2px solid #9e0843;
    border-radius: 7px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.logo-style:hover {
    background-color: #9e0843;
    border: 2px solid #e0c3fc;
}
