{% for i in (0..10) %}
{% assign x = i | times:10 %}
{% for j in (0..10) %}
{% assign y = j | times:10 %}
.wh-{{ x }}-{{ y }}-left {
    float: left;
    width: {{ x }}%;
    height: {{ y }}%;
    margin: 0;
    padding: 2px 16px;
}
.wh-{{ x }}-{{ y }}-center {
    float: center;
    width: {{ x }}%;
    height: {{ y }}%;
    margin: 0;
    padding: 2px 16px;
}
.wh-{{ x }}-{{ y }}-right {
    float: right;
    width: {{ x }}%;
    height: {{ y }}%;
    margin: 0;
    padding: 2px 16px;
}
{% endfor %}
{% endfor %}