<script>
var Api = new Object();
Api.Geolocation = {
    latitude: 0, longitude: 0
};
$(function () {
    if ( $("#location")[0] != undefined && navigator.geolocation ) {
        navigator.geolocation.watchPosition(
            function ( position ) {
                $("#location")[0].innerHTML = ["latitude", "longitude"].map(
                    s => `${s}: ${position.coords[s]}`
                ).join("<br>\n");
                ["latitude", "longitude"].map(
                    k => Api.Geolocation[k] = position.coords[k]
                );
            }
        );
    };
})
</script>