{% for src in site.scripts.before %}
<script src="{{ site.js }}/{{ src }}"></script>
{% endfor %}
{% for src in site.scripts.after %}
<script src="{{ site.js }}/{{ src }}"></script>
{% endfor %}
<script src="{{ site.api }}"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'es'}, 'google_translate_element');
}
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
