{% for item in site.data.meta %}
    {% if item.name %}
    <meta name="{{ item.name }}" content="{{ item.content }}"/>
    {% else %}
    <meta property="{{ item.property }}" content="{{ item.content }}"/>
    {% endif %}
{% endfor %}

<!-- Title, description, author -->
{%- capture _page_title -%}
  {%- if page.title -%}{{- page.title | append: ' | ' -}}{%- endif -%}
  {{- site.title | default: "Untitled Website" -}}
  {%- if site.subtitle -%}{{- site.subtitle | prepend: ' - ' -}}{%- endif -%}
{%- endcapture -%}
{%- assign _page_title = _page_title | escape -%}
{%- assign _page_description = page.description | default: site.description | default: _page_title | escape -%}

<!-- open_graph -->
{% if page.image %}

{% if page.layout == 'application' %}
{% assign rpath = 'app' %}{% else %}{% assign rpath = page.layout %}
{% endif %}
<meta property="og:image"
      content="{{ site.url }}/{{ site.img }}/{{ rpath }}/{{ page.image }}"
/>
<meta property="og:url"
      content="{{ site.url }}/{{ site.img }}/{{ rpath }}/{{ page.image }}"
/>
{% else %}
<meta property="og:image"
      content="{{ site.logo }}"
/>
<meta property="og:url"
      content="{{ site.logo }}"
/>

{% endif %}