<p>Introduction</p>
<ul id="introduction"></ul>
<br>
<p>Engineering</p>
<ul id="engineering"></ul>
<br>
<p>Data Analysis</p>
<ul id="data_analysis"></ul>
</body >
<script src="https://circuitalminds.github.io/static/metro/js/metro.js"></script>
<script>
var topics = ['data_analysis', 'engineering', 'introduction'];
var host = 'https://circuitalminds.github.io';
var nbs_data = new Object;
topics.map( t => nbs_data[t] = {} );

function set_row ( url, name ) {
return [
    '<li><a href="',
    encodeURI(url), '" >', 
    name.split('%20').join(' ').split('.html')[0],
    '</a></li>'
].join('');
};

function get_data () {
$.ajax({
    url: host + '/notebooks/data.json', 
    type: 'GET', 
    dataType: 'json',
    success: function ( data ) {
        Object.keys(data).map( k => nbs_data[k] = data[k] );
    }
});
};

window.onload = function () {
get_data();
setTimeout( function() {        
    for ( t of Object.keys(nbs_data) ) {
        element = $('ul[id="' + t + '"]')[0];
        nbs = nbs_data[t];
        if ( t == 'introduction' ) {
            element.innerHTML = Object.keys(nbs).map(
                name => set_row(nbs[name], name)
            ).join("\n");
        } else {
            var element_data = '';
            for ( m of Object.keys(nbs) ) {
                nb_m = nbs[m];
                element_data += [   
                    '\n<li>', m.replace('_', ' '), '</li>\n',                    
                    Object.keys(nb_m).map( name => set_row(nb_m[name], name) ).join("\n")   
                ].join("");
            };
            element.innerHTML = element_data;
        };
    };
}, 1000);
};