<style>{% include snippet/logo.css %}</style>
{% include snippet/colors.html name="Gradient" %}
{% if page.layout == "application" %}
<style>{% include app/{{ page.name | replace:'.html','' }}/style.css %}</style>
{% else %}
<style>{% include snippet/helpers.css %}</style>
<style>{% include snippet/chat.css %}</style>
<style>{% include snippet/modal.css %}</style>
{% include snippet/colors.html name="Special" %}
{% include snippet/colors.html name="byName" %}
{% include snippet/sizes.html %}
{% endif %}