{% assign key = value %}
{% if user.name == 'tobi' %}
  Hello tobi
{% elsif user.name == 'bob' %}
  Hello bob
{% endif %}
{% if array contains 2 %}
   array includes 2
{% endif %}
# string = 'hello world'
{% if string contains 'hello' %}
   string includes 'hello'
{% endif %}
{% for i in (1..item.quantity) %}
  {{ i }}
{% endfor %}
{% for item in collection reversed %} {{item}} {% endfor %}
{% for item in array limit:2 offset:2 %}
  {{ item }}
{% endfor %}

{% case template %}

{% when 'label' %}
     // {{ label.title }}
{% when 'product' %}
     // {{ product.vendor | link_to_vendor }} / {{ product.title }}
{% else %}
     // {{page_title}}
{% endcase %}
[
  "date",
  "capitalize",
  "downcase",
  "upcase",
  "first",
  "last",
  "join",
  "sort",
  "map",
  "size",
  "escape",
  "escape_once",
  "strip_html",
  "strip_newlines",
  "newline_to_br",
  "replace",
  "replace_first",
  "remove",
  "remove_first",
  "truncate",
  "truncatewords",
  "prepend",
  "append",
  "slice",
  "minus",
  "plus",
  "times",
  "divided_by",
  "round",
  "split",
  "modulo"
]

[
  "forloop.length",
  "forloop.index",
  "forloop.index0",
  "forloop.rindex",
  "forloop.rindex0",
  "forloop.first",
  "forloop.last"
]