<div id="drive">
<div class="row border-bottom bd-lightGray">

    <div class="cell-md-4 text-center text-left-md">
    <h3 class="dashboard-section-title">{{ site.title | replace:' | ', '' }} | {{ page.title }}</h3>
    </div>

    <div class="cell-md-8 d-flex flex-justify-center flex-justify-end-md">
    <ul class="breadcrumbs bg-light">
        <li class="pages-item button-0 on-over"><div id="time-clock" class="page-link"></div></li>
        {% for page_name in site.header_pages %}
        <li class="page-item"><a class="page-link" href="/{{ page_name }}/">{{ page_name }}</a></li>
        {% endfor %}
        <li class="pages-item button-0 on-over"><div id="get-login" class="page-link">Login</div></li>
    </ul>
    </div>

</div>

<div class="row m-3">

    <div class="cell-md-3 inbox p-1 bg-transparent fg-teal">
        <button class="button mb-3 success" onclick="Drive.View.close()">Close</button>
        <div data-collapsible="true" data-role="panel" data-title-caption="Folders">
        <ul id="folders" class="v-menu inbox-folders mt-4"></ul>
    </div>

</div>

<div class="cell-md-8 bg-light">

<div id="file-view" class="cell-md-5 img-container rounded fg-dark">
    <img style="display: block;" src="{{ site.logo }}">
</div>

<form class="cell-md-3" action="/api/drive/upload" method=post enctype=multipart/form-data>
    <input type="file" data-role="file" data-mode="drop" multiple="true"
           data-on-select="$('#selected-files').html('');
           $('#data-list')[0].innerHTML = '';
           $.each(arguments[0], function(){
           $('#selected-files').append('&lt;div&gt;'+this.name+'&lt;/div&gt;');
           $('#data-list')[0].innerHTML += '<p>'+this.name+'</p>\n';
        });" name="files[]"/>
        <div class="bg-light p-2 overflow reduce-1" id="selected-files" style="height: 270px;"></div>
        <label class="fg-dark">Selected Files</label><div id="data-list" class="fg-dark"></div>
    <input type=submit value=Upload>
</form>
</div>
</div>
</div>
<script>
{% include app/drive/script.js %}
</script>
