{% assign player=include.player %}
{% assign data_icon="<span class='ICON fg-cyan'></span>" %}
<video id="{{ player.id }}"
       data-video-selected=""
       class="cell-md-8 bg-light fg-cyan"
       data-aspect-ratio="hd"
       data-role="video-player"
       data-volume="1"
       data-on-end="OnEvent('video-next');"
       data-on-play="this.play();"
       data-on-pause="this.pause();"
       onchange="this.play();"
       {% for i in player.icons %}data-{{ i[0] }}-icon="{{ data_icon | replace:'ICON',i[1] }}"{% endfor %}
></video>
<script>
function getVideos() {
    var Data = {{ site.data.videos.metadata | jsonify }};
    return Data;
};

function getVideoByIndex ( index ) {
    var Data = getVideos();
    var Name = Object.keys(Data)[index];
    var Video = Data[Name];
    var Metadata = {index: index, url: Video.url};
    for ( x of Video.metadata ) {
        var keys = Object.keys(x);
        if ( keys.indexOf("name") != -1 ) {
            if ( x.name == "title" && Metadata.title == undefined ) {
                Metadata.title = x.content;
            } else if ( x.name == "twitter:image" && Metadata.image == undefined ) {
                Metadata.image = x.content;
            } else if ( x.name == "keywords" && Metadata.keywords == undefined ) {
                Metadata.keywords = x.content;
            };
        } else if ( keys.indexOf("property") != -1 ) {
            if ( x.property == "og:title" && Metadata.title == undefined ) {
                Metadata.title = x.content;
            } else if ( x.property == "og:image" && Metadata.image == undefined ) {
                Metadata.image = x.content;
            };
        } else if ( keys.indexOf("itemprop") != -1 && Metadata.duration == undefined ) {
            if ( x.itemprop == "duration" ) {
                Metadata.duration = x.content.replace("PT", "").replace("M", ":").replace("S", ":0");
            };
        };
    };
    if ( Metadata.title == undefined  ) {
        Metadata["title"] = Name.replace(".mp4", "").replace(".wmv", "");
    };
    if ( Metadata.image == undefined ) {
        Metadata["image"] = '{{ site.logo }}';
    };
    return Metadata;
};

function getRandomVideo() {
    var Data = getVideos();
    return getVideoByIndex(Math.round(Math.random() * (Object.keys(Data).length - 1)));
};

function playerMode () {
    return $("#random")[0].checked;
};

function OnEvent ( Event ) {
    var Player = $("#video-player")[0];
    var Index = Player.dataset.videoSelected;
    var N = 0;
    if ( Index != "" ) {
        N += parseFloat(Index);
    };
    if ( Event == 'video-selected' ) {
        Video = getVideoByIndex(N);
        Player.setAttribute("src", Video.url);
        $("#video-title")[0].innerHTML = Video.title;
    } else if ( Event == 'video-next' || Event == 'video-back' ) {
        if ( playerMode() ) {
            Video = getRandomVideo();
            Player.dataset.videoSelected = Video.index;
            Player.setAttribute("src", Video.url);
            $("#video-title")[0].innerHTML = Video.title;
        } else {
            if ( Event == "video-next" ) {
                N += 1;
            } else if ( Event == "video-back" ) {
                N -= 1;
            };
            Video = getVideoByIndex(N);
            Player.dataset.videoSelected = Video.index;
            Player.setAttribute("src", Video.url);
            $("#video-title")[0].innerHTML = Video.title;
        };
    };
    setTimeout(function() {
        Player.play();
        $("#results")[0].style.display = "none";
    }, 1000);
};

function Vol ( opt ) {    
    data = $('#{{ player.id }}')[0].volume;
    if ( opt == "+" && data < 1 ) { 
        $('#{{ include.player.id }}')[0].volume += 0.1;
    } else if ( data > 0.99 ) {
        $('#{{ player.id }}')[0].volume = 1;
    };
    if ( opt == "-" && data > 0 ) {
        $('#{{ player.id }}')[0].volume -= 0.1;
    } else if ( data < 0.01 ) {
        $('#{{ player.id }}')[0].volume = 0;
    };
};

$(function() {
    $('#{{ player.id }}')[0].poster = '{{ site.img }}/{{ player.poster }}';
});
</script>