.bg-white {
    background-color: white;
}

.fg-white {
    color: white;
}

.fg-darklight {
    color: #2C2F36;
}

.fg-teal {
    color: #1abc9c;
}

.bg-darklight {
    background-color: #2C2F36;
}

.bg-teal {
    background-color: #1abc9c;
}
.color-bg-1 {
	background-color: #040404;
}
.color-fg-1 {
	color: #040404;
}
.color-bg-2 {
	background-color: #d71839;
}
.color-fg-2 {
	color: #d71839;
}
.color-bg-3 {
	background-color: #9e0843;
}
.color-fg-3 {
	color: #9e0843;
}
.color-bg-4 {
	background-color: #3469a2;
}
.color-fg-4 {
	color: #3469a2;
}
.color-bg-5 {
	background-color: #69c1a4;
}
.color-fg-5 {
	color: #69c1a4;
}
.color-bg-6 {
	background-color: #f3dc9a;
}
.color-fg-6 {
	color: #f3dc9a;
}
.color-bg-7 {
	background-color: #61122f;
}
.color-fg-7 {
	color: #61122f;
}
.color-bg-8 {
	background-color: #0b2e4d;
}
.color-fg-8 {
	color: #0b2e4d;
}
.color-bg-9 {
	background-color: #1d4b60;
}
.color-fg-9 {
	color: #1d4b60;
}
.color-bg-10 {
	background-color: #2d050c;
}
.color-fg-10 {
	color: #2d050c;
}
.color-bg-11 {
	background-color: #820e23;
}
.color-fg-11 {
	color: #820e23;
}