{% if include.as_iframe == 'true' %}
    {% if include.name == 'chat' %}
    <button class="popup-open-button"
                 onclick='show( $( ".popup-widget" )[0] );'>
        Chat
    </button>
    <div class="popup-widget">
    <div class="popup-widget-content">
    <iframe src="/app/chat/"
                 class="image fit"
                 allow="accelerometer;
                             autoplay;
                             encrypted-media;
                             gyroscope;
                             picture-in-picture;"
                 allowfullscreen="true"
                 frameborder="0">
    </iframe>
    <button type="button"
                 class="btn cancel"
                 onclick='hide( $( ".popup-widget" )[0] );'>
        Close
    </button>
    </div>
    </div>
    {% endif %}
{% else %}
{% include {{ site.data.app.main }} app=site.data.app %}
{% endif %}