<div id="sieve-crib" class="container">
<div class="row">
<p>Cantidad de Números Primos \(\Phi (n)=\) <span id=sieve-crib-phi"></span></p>
</div>
<div class="row">
<p>\(\displaystyle{ \pi = \sqrt{6 \cdot \prod_{i=1}^{\infty} \frac{1}{1-(p_{i})^{-2}} } = \prod_{i=1}^{\infty} f_{i}}\)</p>
</div>
<div class="row">
<p>\(\displaystyle{ \pi \approx \prod_{i=1}^{\Phi (n)} f_{i} = }\) <span id="sieve-crib-pi"></span></p>
</div>
<div class="row">
<p> \(n=\) <span id="sieve-crib-n"></span></p>
</div>
<div class="slidecontainer">
<input class="slider" type="range" value="10"
       min="1" max="500" step="10"
/>
</div>
<br>
<div id="sieve-crib-out" class="row"></div>
<br>
</div>
<script src="/{{ site.animation }}/sieve-crib.js"></script>
