<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="utils.js"></script>
    <title></title>
</head>
<script>
var head_data = {
    "title": "CircuitalMinds | Homeless",
    "meta":  [
        {
            "name": "robots", "content": "index, follow"
        },
        {
            "name": "description", "content": "Spinning out gracefully"
        },
        {
            "name": "viewport", "content": "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
        },
        {
            "name": "author", "content": "Alan Matzumiya"
        },
        {
            "property": "og:type", "content": "website"
        },
        {
            "property": "og:image", "content": "https://circuitalminds.github.io/static/images/circuitalminds.jpg"
        },
        {
            "property": "og:url", "content": "https://circuitalminds.github.io"
        },
        {
            "property": "og:site_name", "content": "CircuitalMinds"
        },
        {
            "property": "og:description", "content": "Spinning out gracefully"
        },
        {
            "property": "og:title", "content": "CircuitalMinds | Homeless"
        },
        {
            "property": "fb:app_id", "content": "772020893629559"
        }
    ],        
    "link": [
        {
            "href": "https://circuitalminds.github.io/static/images/favicon.ico", "rel": "shortcut icon", "type": "image/x-icon"
        },
        {
            "href": "https://circuitalminds.github.io/static/images/favicon.ico", "rel": "icon", "type": "image/x-icon"
        }
    ]
};    

function put_head () {    
    select_object('title')[0].innerHTML = head_data.title;
    metadata = head_data.meta;
    function set_object ( tag_name ) {
        tag_list = head_data[tag_name];
        for ( tag_data of tag_list ) {    
            tag = '<' + tag_name + ' ';
            for ( attr in tag_data ) {
                tag += attr + '="' + tag_data[attr] + '" ';
            };
            tag += '/>';
            document.head.appendChild(
                parseHTML(tag, tag_name)[0]
            );
        };
    };
    for ( tag_name of ['meta', 'link'] ) { 
        set_object(tag_name);
    };
};
</script>
</html>
