---
layout: application
include_lib: metro
title: Drive
permalink: /drive
---
<div class="row border-bottom bd-lightGray m-3">
{% assign app_data = site.data.applications.drive_app %}   
{% assign folder = site.data.applications.folder | append: '/drive_app' %} 
    <div class="cell-md-4 text-center text-left-md">
        <h3 class="dashboard-section-title">{{ site.title_page }} | {{ page.title }}</h3>
    </div>
    <div class="cell-md-8 d-flex flex-justify-center flex-justify-end-md">
        <ul class="breadcrumbs bg-light">
            <li class="page-item"><a class="page-link" href="{{ site.url }}">Home</a></li>
        </ul>
    </div>
</div>
<div class="m-3">
    <div class="inbox p-1 bg-transparent">
        <div class="row">
            <div class="cell-md-3 cell-xl-2 mt-2">
                <button class="button mb-3 success">Compose</button>
                <div data-collapsible="true" data-role="panel" data-title-caption="Folders">
                    <ul class="v-menu inbox-folders mt-4">
                        {% for folder in app_data.folders %}                                                                                                      
                        <li>
                            <a class="dropdown-toggle" href="#">
                                    <span class="icon mif-folder fg-teal"></span>
                                    {{ folder.name }}
                            </a>      
                            <ul class="v-menu" data-role="dropdown">                                                      
                            {% for i in folder.content %}                                
                            {% if i.content %}
                                <li>
                                <a class="dropdown-toggle" href="#"><span class="icon mif-folder fg-teal"></span>
                                    {{ i.name }}
                                </a>                                          
                                <ul class="v-menu" data-role="dropdown">                                                                                                                      
                                {% for j in i.content %}         
                                <li><a onclick="open_file('/{{ j.path }}');"><span class="icon mif-file-empty fg-teal"></span>{{ j.name }}</a></li>                            
                                {% endfor %}
                                </ul>  
                                </li>
                            {% else %}
                                <li><a onclick="open_file('/{{ i.path }}');"><span class="icon mif-file-empty fg-teal"></span>{{ i.name }}</a></li>
                            {% endif %}
                            {% endfor %}
                            </ul> 
                        </li>
                        {% endfor %}
                    </ul>                            
                </div>
                <div class="mt-2" data-collapsible="true" data-role="panel" data-title-caption="Categories">
                    <ul class="v-menu inbox-folders mt-4">
                        <li><a href="#"><span class="icon mif-widgets fg-cyan"></span>Widgets</a></li>
                    </ul>
                </div>
            </div>
            <div class="p-3 cell-md-8">
            <div class="row">
                <div class="cell-md-6 bg-light">            
                    <div id="view" class="img-container rounded w-100 fg-dark">   
                        <div class="container" style="display: none"></div> 
                        <img style="display: block;" src="{{ site.logo }}">                             
                        <video style="display: none;" controls></video>                                                                                                                                            
                    </div>                    
                </div>
                <div class="cell-md-5 bg-light"> 
                    <form action="http://192.168.50.7:8081/" method=post enctype=multipart/form-data>
                        <input type="file" data-role="file" data-mode="drop"
                               data-on-select="$('#selected-files').html('');
                               $.each(arguments[0], function(){
                               $('#selected-files').append('&lt;div&gt;'+this.name+'&lt;/div&gt;');
                            });" name="file"/>
                            <div class="bg-light p-2 overflow reduce-1" id="selected-files" style="height: 270px;">
                            </div>
                        <input type=submit value=Upload>                      
                    </form>                
                </div>
            </div>
            </div>
            <script>
            var selected_files = $('#selected-files');                
            </script>
        </div>
</div>
{% for src in app_data.scripts %}
<script src="{{ folder }}/{{ src }}"></script>
{% endfor %}
</div>