// Main Colors
$primary-color: #1ABC9C;
$secondary-color: #C19CD8;
$highlight: #ffeea8;
$text: #C9D3E7;
$gray-blue: #707890;
$white: #ffffff;
$black: #101010;
$lighten-black: #323743;
$blue-black: #2C2F36;
$blue-darken: #232427;
$green-darken: #2C3635;
$danger: #e02f40;
$success: #34a74e;

// Background Colors
$background: $blue-black;

// Body Color
$body-color: $text;

// Headings
$heading-font-color: #404040;

// Links
$link-color: $primary-color;
$link-color-hover: lighten($link-color, 15%);

// Button
$button-color: $white;
$button-background-color: $primary-color;

// Border
$border-color: #3E4250;

$c1: #9E0142;
$c2: #D53E4F;
$c3: #F46D43; 
$c4: #FDAE61;
$c5: #FEE08B;
$c6: #FFFFBF;
$c7: #E6F598;
$c8: #ABDDA4;
$c9: #66C2A5;
$c10: #3288BD;
$c11: #5E4FA2;

.spectral-gradient {
    background-image: linear-gradient(60deg, $c1 1%, $c1 9%, $c2 18%, $c3 27%, $c4 36%, $c5 45%, $c6 54%, $c7 63%, $c8 72%, $c9 81%, $c10 90%, $c11 99%, $c11 100%);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.initial-gradient {
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center;
  }
