<!DOCTYPE html>
<html lang="en"> 
<head>
    {% include metadata.html %}
    {% include libs.html %}
    {% include javascripts.html %}
    {% include styles.html %}
    {% include favicon.html %}
</head>
<body class="{% if page.lib == 'metro' %}bg-dark fg-white h-vh-100{% endif %}">
{{ content }}
</body>
<script>
colorsData = {{ site.data.colors | jsonify }};
Object.keys(colorsData).map( x => Colors[x]=colorsData[x] );
$( function () {
    ElementObj.setClock();
    ElementObj.setDate();
});
</script>
</html>
