<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en"> 
<head>
    {% include metadata.html %}
    {% include libs.html %}
    {% for href in page.include_styles %}
        <link href="{{ site.css }}/{{ href }}.css" rel="stylesheet"/>
    {% endfor %}
    {% include favicon.html %}
</head>    
<body>
    {{ content }}
</body>
<script src="/assets/dashboard/scripts.js"></script>
<script>
function create_chart ( element_id, name, settings ) {
    var obj = new ApexCharts($("#" + element_id)[0], settings);
    obj.render();
};  
</script>
</html>