<!DOCTYPE html>
<html lang="en">
<head>
{% include metadata.html %}
{% include libs.html %}
{% include styles.html %}
{% if page.name == "404.html" %}
<link href="{{ site.css }}/error.css" rel="stylesheet"/>
{% endif %}
{% include favicon.html %}
</head>
<body>
{% if site.google-analytics %}
{% include google-analytics.html %}
{% endif %}
{% include loader.html %}
{% include header.html %}
{% include snippet/login.html %}
{{ content }}
{% include snippet/chat.html %}
{% include javascripts.html %}
{% include footer.html %}
</body>
<script>
$( function () { JKL.Set( "site" ); JKL.Render() });
</script>
</html>
