---
layout: default
---
<div class="container">
<div class="row fg-light" style="text-align: center; font-size: 20px; height: 150px;">
  <h2>404</h2>
  <p>The requested page could not be found.</p>
  <p><a href="/">Back to Home</a></p>
</div>
<section id="solar-system" style="height: 400px;">
    <div id="sun"></div>
    <article id="mercury-trajectory">
        <div id="mercury"></div>
    </article>
    <article id="venus-trajectory">
        <div id="venus"></div>
    </article>
    <article id="earth-trajectory">
        <div id="earth"></div>
    </article>
     <article id="mars-trajectory">
        <div id="mars"></div>
    </article>
</section>
</div>
