<footer class="footer">
    <div class="container">
    <div class="row">
    <div class="col col-12">
        <div class="footer-top">
        <div class="logo-title bd-light spectral-gradient">
        <a class="logo-text" href="{{ site.url }}">
        <div class="fg-light"> {{ site.title }}</div>
        </a>
        </div>
        <div class="top"><i class="ion ion-ios-arrow-up"></i></div>
        </div>
        <div class="footer-bottom">
        <div class="copyright">
                <p>
                &copy; {{site.time | date: '%Y'}} Crafted & Designed by
                <a href="{{ site.data.author.website }}">
                {{ site.data.author.name }}{{ site.applications }}
                </a>
                </p>
        </div>
        <div class="footer-social">
        {% assign social_media =  "facebook, twitter, instagram, pinterest" | split:", " %}
        <ul class="list-reset">
            {% for i in social_media %}
            {% if site[i] %}
             <li><a href="{{ site[i] }}">{{ i | capitalize }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
        </div>
    </div>
    </div>
    </div>
    </div>
</footer> <!-- /.footer -->