<div class="accordion accordion-flush" id="{{ include.id }}">
<div class="accordion-item">
    <h2 class="accordion-header" id="flush-heading-{{ include.id }}">
    <button class="accordion-button collapsed bg-darklight fg-teal button-0"
            type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{ include.id }}"
            aria-expanded="false" aria-controls="flush-collapse-{{ include.id }}">
        {{ include.header }}
    </button>
    </h2>
    <div id="flush-collapse-{{ include.id }}" class="accordion-collapse collapse"
         aria-labelledby="flush-heading-{{ include.id }}" data-bs-parent="#{{ include.id }}">
    <div class="accordion-body initial-gradient">
        {{ include.body }}
    </div>
    </div>
</div>
</div>