{% if include.on-clock == true %}
<div class="button-0 text-center" id="clock-time"></div>
{% endif %}
{% if include.on-date == true %}
<div class="button-0 text-center" id="date-time"></div>
{% endif %}
<script>
$( function () {

    var dt = new Date();
    var clock = $( "#clock-time" )[0];
    var date = $( "#date-time" )[0];

    if ( isdefined( clock ) ) {
        setInterval( function () {
            var dt = new Date();
            clock.innerHTML = dt.toLocaleTimeString();
        }, 1e3 );
    };

    if ( isdefined( date ) ) {
        date.innerHTML = dt.toLocaleDateString();
    };

} );
</script>