<div id="vahngraff">
<h3 class="cell-md-12 card-header fg-teal" id='video-title'></h3>
<div class="row">
  <div id="logo" class="cell-md-3 text-center">
      {{ site.title | replace:' | ', '' }} | {{ page.title }}
  </div>
  <input id="query" type="text" class="cell-md-4" placeholder="Search for video..">
  <button onclick="$('#query')[0].value='';" class="cell-md-1 bg-dark fg-light"><span class="mif-cross-light"></span></button>
  <div class="cell-md-2 text-center" id="clock-time"></div>
  <div class="cell-md-2 text-center" id="date-time"></div>
</div>
<div class="row">
    <div class="cell-md-4">
        <div class="p-2 multi-action">
            <button class="action-button rotate-minus bg-teal fg-white" onclick="$(this).toggleClass('active')">
                <span class="icon"><span class="mif-apps"></span></span>
            </button>
            {% include snippet/player.html name="buttons" %}
        </div>
    </div>
    <div class="cell-md-2">
        <input id="random" class="p-2"
               type="checkbox"
               data-role="switch"
               data-caption="Random"
               data-cls-switch="mySwitch"
               data-cls-caption="fg-teal text-bold"
               data-cls-check="bd-teal myCheck">
    </div>
</div>
<div class="row mt-2">
{% include snippet/player.html name="video" %}
<div class="cell-md-4"><ul id="feeds" class="group-list feed-list"></ul></div>
<div class="row mt-2">
{% include snippet/search.html %}
</div>
</div>
</div>
<script>
searchModal({
    "id": "results",
    "header": "Search Results",
    "body": '<ul id="jkl-results" class="feed-list bg-darkTeal fg-light"></ul>',
    "footer": "&copy; CircuitalMinds. Vahngraff | Don't Stop The Classics",
    "button": "query"
});
JKL.Set( "videos" );
</script>
<script>
{% include app/vahngraff/script.js %}
</script>
