<link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" rel="stylesheet"/>  
{% for s in [57, 60, 72, 76, 114, 120, 144, 152, 180] %}
<link rel="apple-touch-icon" sizes="{{ s }}x{{ s }}" href="/favicon.ico/apple-icon-{{ s }}x{{ s }}.png">
{% endfor %}
<link rel="icon" type="image/png" sizes="192x192"  href="/favicon.ico/android-icon-192x192.png">
{% for s in [16, 32, 96] %}
<link rel="icon" type="image/png" sizes="32x32" href="/favicon.ico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon.ico/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon.ico/favicon-16x16.png">
{% endfor %}
<link rel="manifest" href="/favicon.ico/manifest.json">
<meta name="msapplication-TileColor" content="#1abc9c">
<meta name="msapplication-TileImage" content="/favicon.ico/ms-icon-144x144.png">
<meta name="theme-color" content="#1abc9c">